nav{
    height: 80px;
    width: 100%;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));

}
nav a {
    margin-right: 20px;
    font-weight: 700;

}
nav a:hover{
    color: orangered;
}


/* nav img{
    height: 60px;
    width: 60px;
    animation: bounce 5s ease-in-out infinite alternate;
}
@keyframes bounce{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
} */